.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}

.header__left img {
  height: 40px;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #eef3f8;
  padding: 10px;
  border-radius: 5px;
}

.header__search input {
  border: none;
  background: none;
  outline: none;
}

.header__right a {
  margin: 0 10px;
  color: gray;
}

.header__right a:hover {
  color: black;
}